<section class="partial">
    <section>
        <h2>&#x1F527; Configuration &#x1F527;</h2>
    </section>

    <section>
        <h2>
            <img src="../img/france.png" class="icon" style="vertical-align: middle" />
            Langage
            <img src="../img/france.png" class="icon" style="vertical-align: middle" />
        </h2>
        <ul>
            <li class="fragment">ES20XX (pour les <strong>prototype</strong>rs)</li>
            <li class="fragment">XXscript (pour les <strong>java</strong>istes)</li>
            <li class="fragment">Babel (stage 3 voir 2) (pour les <strong>hipster</strong>s)</li>
            <li class="fragment">Babel (stage 1 voir 0) (pour les <strong>cv</strong>ers)</li>
        </ul>
    </section>

    <section>
        <h2>&#x2728; Stages d'ECMAScript &#x2728;</h2>
        <h4>(processus du comité TC39)</h4>
        <ul>
            <li class="fragment small">0 (<em>strawman</em>) : idée, entrée => <strong>rien !</strong></li>
            <li class="fragment small">1 (<em>proposal</em>) : champion, besoins, polyfills => <strong>démo</strong></li>
            <li class="fragment small">2 (<em>draft</em>) : spec précise, développée partiellement, sémantique, syntaxe définie => <strong>expérimentale</strong></li>
            <li class="fragment small">3 (<em>candidate</em>) : spec complète, solution complète, totalement implémentée => <strong>prête</strong></li>
            <li class="fragment small">4 (<em>finished</em>) : prête pour ECMAScript, dispo dans 2 VMs, PR dans le tc39/ecma262 => <strong>délivrée</strong></li>
        </ul>
    </section>

    <section>
        <h2>&#x2753; Et alors &#x2753;</h2>
        <ul>
            <li class="fragment">Connaissez-vous des propositions rejetées ?</li>
            <li class="fragment">
                <code>Object.observe</code>
                <span class="fragment">...qui était en stage 2 !</span>
            </li>
            <li class="fragment"><code>Cancelable-Promises</code></li>
            <li class="fragment">Donc vraiment... attention !</li>
            <li class="fragment">Tout est disponible sur le github TC39</li>
        </ul>
    </section>

    <section>
        <h2 class="small">&#x1F62D; Style de programmation &#x1F62D;</h2>
        <ul>
            <li class="fragment">Callbacks avec async.js => open-source</li>
            <li class="fragment">Promise avec bluebird => entreprise</li>
            <li class="fragment">Générateurs avec co (func* / yield)</li>
            <li class="fragment">
                Async/Await
                <img src="../img/bulb.png" class="icon bulb" />
                <br>
                <div class="fragment">(aujourd'hui avec babel, natif dans V8)</div>
            </li>
            <li class="fragment">Pas de mauvaise réponse !</li>
        </ul>
    </section>

    <section>
        <h2 class="small">&#x1F6A5; Outil d'analyse statique &#x1F6A5;</h2>
        <ul>
            <li class="fragment">ESLint (config <img src="../img/airbnb.png" class="icon big" />)</li>
            <li class="fragment">JSHint</li>
            <li class="fragment">JSCS</li>
            <li class="fragment">Standard (compatible <strong>scala</strong>istes <img src="../img/trollface.png" class="icon" />)</li>
            <pre class="fragment"><code>
window.alert('hi')

;(function () { window.alert('ok') }())
;[1, 2, 3].forEach(bar)
;`hello`.indexOf('o')
        </code></pre>
            <li class="fragment">Semistandard</li>
        </ul>
        <aside class="notes">
            ESLint vraiment adopté, standard poussé par quelques stars js.<br>
            Standard : 2 espaces, simple quote, pas de variables non-utilisées, triple égale...<br>
            Mais tout à la fin de la doc => pas de point-virgule ni de ([` (variables ok)
        </aside>
    </section>
</section>
