<section class="partial">
    <section>
        <h1 style="font-size: 5rem;">Node.js comme les grands</h1>
        <p>
            <a href="https://twitter.com/rmat0n">Romain Maton</a> / <a href="https://www.bdx.io/">BDX.IO 2017</a>
        </p>
    </section>

    <section>
        <h2><img src="../img/rmat0n.png" alt="Avatar de rmat0n" style="float: left; height: 200px; border: 5px solid #fcc0ba; transform: rotate(-15deg);">Romain Maton</h2>
        <p><a href="http://www.tamlab.fr/">Freelance (java / node / web)</a></p>
        <p class="font-huge">
            <a href="https://twitter.com/rmat0n">@rmat0n</a> / <a href="http://www.web-tambouille.fr/"> Web Tambouille</a>
        </p>
    </section>

    <section>
        <h2>&#x1F4D6; Plan &#x1F4D6;</h2>
        <ul>
            <li>Installation</li>
            <li>Configuration</li>
            <li>Production</li>
            <li>Puzzler</li>
            <li>Performance</li>
            <li>Sécurité</li>
            <li>Tests</li>
        </ul>
    </section>

    <section>
        <h2>&#x1F50E; Sondage &#x1F50D;</h2>
        <ul>
            <li class="fragment">Node ? Connait pas ou entendu au loin...</li>
            <li class="fragment">Regardé vite fait, petite TODO</li>
            <li class="fragment">En fait ou en a fait en entreprise</li>
            <li class="fragment">Application en production</li>
            <li class="fragment">Plusieurs applications en production</li>
        </ul>
        <aside class="notes">
            C'est là que tout se décide !<br>
            Si je dois sauter certains passages ou plus en décrire d'autres.
        </aside>
    </section>

    <section>
        <h2>Idées / à retenir / à tester</h2>
        <p>Signalé par <img src="../img/bulb.png" class="icon big" /></p>
        <p>Pas ou peu connu</p>
        <p>Chez vous, au boulot...</p>
        <aside class="notes">
            Vos devoirs !
        </aside>
    </section>
</section>
