<section class="partial">
    <section>
        <h2>&#x1F319; Conclusion &#x1F319;</h2>
    </section>

    <section>
        <h2>&#x261D; Alors node ? &#x261D;</h2>
        <ul>
            <li class="fragment">Fondation Node (IBM, Google, Joyent...)</li>
            <li class="fragment">LTS et cycle pair/impair</li>
            <li class="fragment">
                Documentation très complète<br>
                (event-loop, postmortem...)
            </li>
            <li class="fragment">Performant et monitorable</li>
        </ul>
    </section>

    <section>
        <h2>&#x1F451; Géants ? &#x1F451;</h2>
        <ul>
            <li class="fragment">Certains partagent...</li>
            <li class="fragment">...d'autres moins</li>
            <li class="fragment">Projets plus ou moins maintenus</li>
        </ul>
        <aside class="notes">
            Délicats d'avoir des infos.<br>
            Comme dans toutes boîtes : certains portent le projet et en cas de changement c'est la fin...
        </aside>
    </section>

    <section>
        <h2>&#x1F496; Et tous ces emojis &#x1F496;</h2>
        <img src="../img/emoji.png" style="height: 13em; overflow: hidden;" />
        <aside class="notes">
            Contribution sur Atom en début de commit !
        </aside>
    </section>

    <section>
        <h2>&#x1F44F; Merci ! &#x1F44F;</h2>
        <p><a href="https://twitter.com/rmat0n">@rmat0n</a></p>
        <p>
            <a href="https://twitter.com/hashtag/NodejsCommeLesGrands">#NodejsCommeLesGrands</a>
            <br>
            <a href="https://frama.link/nodejscommelesgrands" style="margin-top: 10px;">https://frama.link/nodejscommelesgrands</a>
        </p>
    </section>
</section>
