<section class="partial">
    <section>
        <h2>&#x1F511; Sécurité &#x1F511;</h2>
    </section>

    <section>
        <h2>&#x1F4BB; Sécurité Web &#x1F4BB;</h2>
        <ul>
            <li class="fragment">Helmet <img src="../img/bulb.png" class="icon bulb" /> : protection de requêtes HTTP : entêtes <code>Strict-Transport-Security</code>, <code>X-XSS-Protection</code>, <code>X-DNS-Prefetch-Control</code>, pas de <code>X-Powered-By</code>...</li>
            <li class="fragment">Cookie <code>secure</code> et <code>HttpOnly</code> et son scope (<code>domain</code>, <code>path</code> et <code>expires</code>)</li>
            <li class="fragment">CSURF : protection CSRF (Cross-Site Request Forgery)</li>
        </ul>
        <aside class="notes">
            Cookie secure : envoyé uniquement sur HTTPS.<br>
            Cookie HttpOnly : empêche le cross-site scripting (inaccesible via javascript).
        </aside>
    </section>

    <section>
        <h2>&#x1F526; Dépendances &#x1F526;</h2>
        <ul>
            <li class="fragment">NSP : failles des dépendances et versions de fix</li>
            <li class="fragment">
                Snyk <img src="../img/bulb.png" class="icon bulb" /> :
                comme NSP mais applique les fix voir patch une dépendance pas encore fixée (pull-request) !
            </li>
            <li class="fragment">Avoir ses dépendances à jour</li>
            <li class="fragment">Permet de faire une veille sur les différentes/nouvelles attaques !</li>
        </ul>
        <aside class="notes">
            Snyk : si dépendances non fixée,
            il va patcher la librairie !
        </aside>
    </section>

    <section>
        <h2>&#x1F4A5; Exemples d'attaques &#x1F4A5;</h2>
        <ul>
            <li class="fragment"><strong>Parcours de répertoire</strong></li>
            <li class="fragment">Découverte d'url avec par exemple <code>http://url/public/../../../etc/passwd</code></li>
            <li class="fragment">&#x1F691; Navigateur récent, <code>express-static</code>...</li>
            <li class="fragment"><strong>Attaque temporelle</strong></li>
            <li class="fragment">Calcul du temps de comparaison de l'algo</li>
            <li class="fragment">&#x1F691; <code>crypto.timingSafeEqual(x, y)</code></li>
        </ul>
    </section>
</section>
